@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

.circle-button {
  font-family: 'Roboto', sans-serif;
  color: #ccc;
  display: inline-block;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.circle-button:hover {
  animation: circle-anim 0.3s ease forwards;
  transition: all 0.4s ease;
}

.grow-container {
  display: inline-block;
  margin: 1em;
}

.to-red:hover {
  background: #E5393F;
}

.to-twitter:hover {
  background: #1DA1F3;
}

.to-facebook:hover {
  background: #3B5998;
}

.to-linkedin:hover {
  background: #0077B5;
}

.to-reddit:hover {
  background: #FF4500;
}

@keyframes circle-anim {
  0% {}

  90% {
    padding: 0.35em;
    margin: -0.35em;
  }

  100% {
    padding: 0.25em;
    margin: -0.25em;
  }
}

/* Nav Items */

.cta span {
  padding-bottom: 7px;
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Get In Touch btn */

.get_in_touch_btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 0.8em 1.6em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.get_in_touch_btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 45px;
  background-color: #1875FF;
  border-radius: 50%;
  transition: .6s ease;
  z-index: -1;
}

.get_in_touch_btn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.get_in_touch_btn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.get_in_touch_btn span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.get_in_touch_btn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.get_in_touch_btn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.get_in_touch_btn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

[type='button'] {
  background-color: #fff;
}

/* Get Started Button */

.get_started_btn {
  --color: #ffffff;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.get_started_btn::after,
.get_started_btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
}

.get_started_btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.get_started_btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.get_started_btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.get_started_btn:hover {
  color: var(--color2);
}

.get_started_btn:active {
  filter: brightness(.7);
  transform: scale(.98);
}